.markdown-section h1 {
  font-size: 1.5rem;
  margin: 1rem 0 1rem;
} 

.markdown-section h2 {
  font-size: 1.3rem;
  margin: 0 0 .8rem
} 

.markdown-section figure, .markdown-section p {
  margin: 0.5em 0;
}